@import '../node_modules/antd/dist/reset.css';

.grid-rows {
  display: grid;
  grid-template-rows: 16px 8px 1fr;
  height: 100vh;
}
.gutter-row-1 {
  grid-column: 1/-1;
  grid-row: 2;
  cursor: pointer;
}

.grid-cols {
  display: grid;
  grid-template-columns: 1fr 8px 1fr;
  height: 100%;
}
.gutter-col-1 {
  grid-row: 1/-1;
  grid-column: 2;
  cursor: col-resize;
}

.gutter {
  background-color: lightgray;
}
.gutter:hover {
  background-color: #e0e0e0;
}
