@import '../node_modules/antd/dist/reset.css';

#rows-grid {
  display: grid;
  grid-template-rows: 16px 8px 1fr;
  height: 100vh;
}
#row-gutter {
  grid-column: 1/-1;
  grid-row: 2;
  cursor: pointer;
}

#cols-grid {
  display: grid;
  grid-template-columns: 1fr 8px 1fr;
  height: 100%;
}
#col-gutter {
  grid-row: 1/-1;
  grid-column: 2;
  cursor: col-resize;
}

.gutter {
  background-color: lightgray;
}
.gutter:hover {
  background-color: #e0e0e0;
}
